@font-face{font-family:'robotoregular';src:url("/assets/mobile/Roboto-Regular-webfont.eot");src:url("/assets/mobile/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("/assets/mobile/Roboto-Regular-webfont.woff") format("woff"), url("/assets/mobile/Roboto-Regular-webfont.ttf") format("truetype"), url("/assets/mobile/Roboto-Regular-webfont.svg#robotoregular") format("svg");font-weight:normal;font-style:normal}html,body{height:100%}body{background-color:#f7f8f9}#main-wrapper{position:absolute;left:0;top:0;min-width:100%;min-height:100%}* html #main-wrapper{height:100%}.appendix{height:1px;clear:both}header#header_mob_mt{text-align:center}*{font-family:'robotoregular';margin:0;padding:0;color:#333}a{text-decoration:none}.emu_a{cursor:pointer}.no_overflow{overflow:hidden}.pos_zero{position:fixed !important}a,.block_news{-webkit-transition:background-color 300ms linear, color 300ms linear;-moz-transition:background-color 300ms linear, color 300ms linear;-o-transition:background-color 300ms linear, color 300ms linear;transition:background-color 300ms linear, color 300ms linear}nav, footer#footer_mob_mt,
.block_news .line2, .block_news .line2
a{font-family:'Roboto',sans-serif;font-weight:100}.block_news h2 a, .block_news_view h2 a, .block_news_view h2 a
strong{font-family:'Roboto Condensed',sans-serif;font-weight:300}.dynamic_table_v2 td.title_v2
div{font-family:'Roboto',sans-serif;font-weight:100}nav
*{font-family:'Roboto',sans-serif !important}.mpp
*{font-family:'robotoregular' !important}.clear{clear:both}.clear2{float:none}.hide{visibility:hidden}img{border:0}table{width:100%;border-collapse:collapse;border-spacing:0}section{vertical-align:top}header#header_mob_mt, footer#footer_mob_mt, nav
p{background:#369;color:#fff}.hover{-webkit-user-select:none;-webkit-touch-callout:none}header#header_mob_mt img,
nav p:last-child a img,
nav li
img{background-image:url("/assets/mobile/pico_v4.svg");background-repeat:no-repeat}.stats{height:1px;background-color:#369}header#header_mob_mt{height:106px;overflow:hidden}header#header_mob_mt
img{height:105px}header#header_mob_mt img.cnt-plus-mod{height:1px}header#header_mob_mt img:first-child{float:left;width:114px;background-position:-548px -916px}header#header_mob_mt .logo
img{float:none;width:350px;background-position:0px -920px}header#header_mob_mt .emu_a:last-child{float:right;width:104px;background-image:none;cursor:default}#shadow100{position:fixed;right:0px;top:0%;height:200%;width:100%;z-index:7;background-color:rgba(0, 0, 0, 0.8);display:none}#shadow100 span, #shadow100 span:hover{width:100%;height:100%;display:block}nav{left:0px;top:0px;z-index:8;background-color:#fff;overflow:hidden;font-size:250%;display:none}nav, nav
ul{position:absolute;top:0px;width:470px;height:500px;max-height:100%}nav{position:fixed}nav
ul{width:490px}nav
p{padding:15px
0 0 45px;white-space:nowrap;width:100%}nav p, nav p *, nav li, nav li
*{vertical-align:middle;white-space:nowrap}nav p img, nav a
img{margin-right:30px}nav
ul{position:absolute;overflow-x:hidden;overflow-y:auto}nav li
a{padding:15px
0 15px 20px;display:block}nav li:last-child{padding:0;height:109px;visibility:hidden}nav li
img{width:70px;height:70px}nav li .main
img{background-position:0px 0px}nav li .news
img{background-position:0px -70px}nav li .reviews
img{background-position:0px -140px}nav li .video
img{background-position:0px -210px}nav li .blog
img{background-position:0px -350px}nav li .cash-btn{padding:0;display:inline-block}nav li .cash-btn
img{display:block;background-color:#415FFF;margin-right:0;width:473px;height:101px;background-image:url("/photo/btn-vivo-mob-1.jpg") !important;background-position:center}nav li .yt
img{background-position:0px -420px}nav li .vk
img{background-position:0px -490px}nav li .tg
img{background-image:url("/i/mod/mtsocialgroup2_mini4.svg") !important;background-position:-70px 0px;background-size:auto 70px}nav li .tw
img{background-position:0px -560px}nav li .fb
img{background-position:0px -630px}nav li .ins
img{background-position:0px -700px}nav li
a.selected{color:#fff;background-color:#369;padding:7px
0 7px 20px}nav li a:hover, nav li a:focus{outline:none}nav li .selected
img{width:95px;height:95px}nav li .main_
img{background-position:-100px 0px}nav li .news_
img{background-position:-100px -95px}nav li .reviews_
img{background-position:-100px -190px}nav li .video_
img{background-position:-100px -285px}nav li .blog_
img{background-position:-100px -475px}nav
li.separate{border-top:1px solid #bdbdbd}nav p:last-child{text-align:center;padding:0}nav p:last-child
a{display:block}nav p:last-child a
img{width:45px;height:109px;background-position:-747px -907px;margin-right:10px}nav p:last-child{position:absolute;bottom:0px}nav p
*{color:#fff}.main_content{background-color:#fff;font-size:173%}.postbody
p{text-align:justify}ul.disc{list-style-type:disc}.gsc-input{padding:0
10px}.gsc-search-button{padding:0
10px 0 10px}.gsc-clear-button{padding:0
5px 0 0}#psevdo_cse-search-box
div{text-align:center}#psevdo_cse-search-box,#psevdo_cse-result-box,.gsc-control-cse{-webkit-border-radius: .3em;-moz-border-radius: .3em;border-radius: .3em;-khtml-border-radius: .3em}.gsc-control-cse{border:none !important;background-color:#FFF !important;margin-bottom:5px}#psevdo_cse-search-box{background-color:#e6e6e6;height:1.2em;padding-top: .2em;vertical-align:middle;text-align:center}#psevdo_cse-search-box, #psevdo_cse-search-box input[type="text"]{-webkit-border-radius: .3em;-moz-border-radius: .3em;border-radius: .3em;-khtml-border-radius: .3em}#psevdo_cse-search-box input[type="text"]{width:100%;border:1px
solid #fff}#psevdo_cse-search-box input[type="text"], #psevdo_cse-search-box input[type="button"]{outline:none}#psevdo_cse-search-box input[type="button"]{font-size:70%;padding:0
10px;height:3em;background-color:#ccc;color:white;cursor:pointer;border:1px
solid white;-webkit-border-radius: .3em;-moz-border-radius: .3em;border-radius: .3em;-khtml-border-radius: .3em;-webkit-transition:background 300ms linear;-moz-transition:background 300ms linear;-o-transition:background 300ms linear;transition:background 300ms linear}.head_dTable_v2{text-align:right;padding:5px
20px 10px 5px}.head_dTable_v2, .head_dTable_v2
a{text-align:left}.head_dTable_v2 a, .head_dTable_v2 a:link, .head_dTable_v2 a:visited{color:#007ac2;text-decoration:underline}.head_dTable_v2 a:active, .head_dTable_v2 a:hover{color:#ff4343;text-decoration:underline}.dynamic_table_v2 td.title_v2
div{text-align:right;padding:0
15px 15px 5px;white-space:nowrap}.dynamic_table_v2 td.date_dtable_v2, .dynamic_table_v2
td.link_dtable_v2{vertical-align:middle;padding-bottom:10px}.dynamic_table_v2
td.date_dtable_v2{text-align:right}.dynamic_table_v2
td.link_dtable_v2{}.dynamic_table_v2 td.link_dtable_v2 a, .dynamic_table_v2 td.link_dtable_v2 a:link, .dynamic_table_v2 td.link_dtable_v2 a:visited{text-decoration:underline}.main_content ol, .main_content
ul{margin:5px
5px 0 55px}.main_content ol a, .main_content ul
a{text-decoration:underline}.m-subhead-block,.list_news_mpp.w-slider{background-color:#f7f8f9}.list_news_mpp.w-slider{padding-bottom:5px;margin-bottom:10px}.m-subhead-block{padding:17px
17px;display:flex}.m-subhead-block
.data{display:flex}.m-subhead-block .data
img{width:30px;margin-right:15px;background-repeat:no-repeat;background-size:30px auto;display:block}.m-subhead-block .data
p{margin:auto;font-family:'Roboto',sans-serif;font-weight:bold}.m-subhead-block.top
img{height:46px;background-image:url("/assets/mobile/ico-fire.svg")}.m-subhead-block.last
img{height:30px;margin-top:2px;background-image:url("/assets/mobile/ico-red-access-time.svg")}.owl-carousel{width:761px !important;margin:0
auto !important}.owl-carousel
.block_news{padding:10px
6px}.owl-carousel .block_news
.mpp{width:190px;height:190px}.owl-carousel .block_news:first-child{padding-top:10px}.owl-carousel .block_news h2
a{font-size:39.6px}.owl-carousel .block_news
.line2{display:flex;font-size:27.1px}.owl-carousel .block_news .line2
img{width:initial !important;vertical-align:bottom;margin-top:6px}.owl-carousel .block_news .line2
a{display:inherit}.imit_a_tag, p.tags
a{display:inline-block;margin:5px
0;padding:5px
15px;color:#fff;text-indent:0;-webkit-border-radius:0.3em;-moz-border-radius:0.3em;border-radius:0.3em;-khtml-border-radius:0.3em;-webkit-transition:background-color 300ms linear;-moz-transition:background-color 300ms linear;-o-transition:background-color 300ms linear;transition:background-color 300ms linear}.underline{text-decoration:underline}.none_underline{text-decoration:none}.navi__v2{border:0px
none white;margin-top:5px;margin-bottom:5px;padding-top:2px;padding-bottom:2px;text-align:left;margin-left:5px}.navi__v2 span, .navi__v2 a
span{padding:3px}.navi__v2
span.textNaviTITLE__v2{font-weight:bold;padding-left:0px}.navi__v2 span.merge_v2_l, .navi__v2 a
span.merge_v2_l{padding-right:0px}.navi__v2 span.merge_v2_r, .navi__v2 a
span.merge_v2_r{padding-left:0px;border:1px}.navi__v2
span.curr_page_v2{background-color:#666;color:#fff}#list_news{background-color:#fff;border:1px
solid #fff}.mpp{position:relative;overflow:hidden;z-index:2;display:inline-block;cursor:pointer;background-repeat:no-repeat;background-size:100% auto;-webkit-background-size:100% auto;-moz-background-size:100% auto;-o-background-size:100% auto}.mpp
*{z-index:3}.mpp
.config{width:100%;vertical-align:middle}.tbanner_mod{height:1px;display:flex}.tbanner_mod
img{margin:0
auto}.tbanner{text-align:center}#yandex_R-122622-1{margin:0
auto}.social_like_btns_v3{text-align:center;display:block;padding-top:22px;margin-bottom:-35px}.social_like_btn_v3{display:inline-block}.social_like_btn_v3
*{float:left;height:60px}.social_like_btn_v3
.separate{width:15px}.social_like_btn_v3 .logo_v3 img,
.social_like_btn_v3
.stat_v3{-webkit-border-radius:7px;-moz-border-radius:7px;border-radius:7px;-khtml-border-radius:7px}.social_like_btn_v3
.stat_v3{background-color:#e9eaed;line-height:60px;white-space:nowrap;font-size:130%}.social_like_btn_v3 .stat_v3
div{padding-left:10px;padding-right:10px}.social_like_btn_v3 .stat_v3
img{background-image:url("/i/mod/sprite_by_takumi_v8m.svg");background-repeat:no-repeat;background-position:0px -20px}.social_like_btn_v3 .logo_v3
img{background-image:url("/i/mod/sociaru_no_rike20_v3.svg");background-repeat:no-repeat;background-size:40px auto}.social_like_btn_v3
*{-webkit-transition:background-color 300ms linear, color 300ms linear;-moz-transition:background-color 300ms linear, color 300ms linear;-o-transition:background-color 300ms linear, color 300ms linear;transition:background-color 300ms linear, color 300ms linear}.social_like_btn_v3
a{cursor:pointer}.social_like_btn_v3 a:hover .logo_v3
img{background-color:#369}.social_like_btn_v3 a:hover
.stat_v3{background-color:#ccc}.social_like_btn_v3 a:hover .stat_v3
div{color:#fff}.social_like_btn_v3 .vk_like .logo_v3
img{background-color:#6996c7;background-position:10px 10px}.social_like_btn_v3 .vk_like .stat_v3
div{color:#6996c7}.social_like_btn_v3 .tw_like .logo_v3
img{background-color:#28c3ff;background-position:10px -70px}.social_like_btn_v3 .tw_like .stat_v3
div{color:#28c3ff}.social_like_btn_v3 .fb_like .logo_v3
img{background-color:#3664a2;background-position:10px -150px}.social_like_btn_v3 .fb_like .stat_v3
div{color:#3664a2}.social_like_btn_v3 .g_like .logo_v3
img{background-color:#c33;background-position:10px -230px}.social_like_btn_v3 .g_like .stat_v3
div{color:#3664a2}.block_news{cursor:pointer;background-color:#fff}.block_news,.block_news_view{border-top:1px solid #e6e6e6;display:block;padding:10px
5px 5px 5px;margin-top:5px;margin-bottom:5px;background-color:#fff}.block_news_view{border-top:1px solid #fff;padding-top:0}.block_news:first-child{border-top:1px solid #fff;margin-top:0}.block_news
.mpp{width:150px;height:150px}.block_news
*{vertical-align:middle}.block_news h2
a{margin-bottom:10px;line-height:1;display:block}.cell{display:table-cell}.cell:nth-child(2n){padding-left:10px}.block_news_view{padding:10px
18px 5px 18px;width:100%;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}.block_news_view .data_v2
#cnt_post_view{display:inline}.block_news h2,
.block_news_view
h2{font-size:148%;color:#363636}.block_news
h2{font-size:130%}.block_news_view
.postbody{padding-top:20px}.headPost__v2
a{font-size:130%}.head_dTable_v2{font-size:167%;color:#363636}.main_content ol a:active, .main_content ol a:hover, .main_content ul a:active, .main_content ul a:hover,
.dynamic_table_v2 td.link_dtable_v2 a:active, .dynamic_table_v2 td.link_dtable_v2 a:hover,
.block_news_view .postbody a:hover, .block_news_view .postbody .tags li a:hover{color:#ff4343}.block_news_view .postbody a:hover
strong{color:#ff4343 !important}.block_news_view
a.mbanner_in_post{display:block;text-align:center}.block_news_view a.mbanner_in_post
img{max-width:720px}.dynamic_table_v2 td.title_v2
div{font-size:120%}.block_news .line2, .block_news .line2
*{vertical-align:bottom}.cnt_viewed_,.cnt_commented_{vertical-align:middle;margin-bottom:2px;height:0.8em}.postbody{}.block_news .line2, .block_news .line2
a{font-size:89%}.block_news .line2 a.emu-category,
.block_news .line2 a.mc-counter{font-size:100%}.block_news_view .postbody
a{color:#007ac2}.block_news_view .postbody a
strong{color:#007ac2 !important}.block_news_view .tags
a{color:#fff}.block_news_view .postbody .tags li
a{color:#007ac2}.block_news_view .postbody p.tags a:hover{color:#fff}.info_load_bns{text-align:center;margin:1% 0;display:none;color:#333}.btn_dload,a#move_up{background-color:#ccc;cursor:pointer;-webkit-transition:background-color 300ms linear;-moz-transition:background-color 300ms linear;-o-transition:background-color 300ms linear;transition:background-color 300ms linear;display:block}.btn_dload{width:100%;vertical-align:top;text-align:center;margin:1% 0;padding:0
0}.btn_dload
img{height:62px;background-image:url("/assets/mobile/sprite_by_takumi_v7.svg");background-repeat:no-repeat;background-size:336px auto;background-position:0px -426px}#bbanners{width:100% !important;overflow:hidden}footer#footer_mob_mt{text-align:center}header#header_mob_mt *, footer#footer_mob_mt
*{color:white}footer#footer_mob_mt
a{outline:none}.form_pc
button{border:2px
solid #369;background-color:#369;padding:5px
50px;margin:5px;font-size:100%;cursor:pointer;text-decoration:underline;-webkit-transition:background-color 300ms linear;-moz-transition:background-color 300ms linear;-o-transition:background-color 300ms linear;transition:background-color 300ms linear}.form_pc button:focus{outline:none}.cpy{padding-bottom:10px}.bg-banner4search{width:761px !important}.main-wrapper-search{min-width:761px !important}.postbody #twitter-widget-0,
.postbody #twitter-widget-1{margin:0
auto !important}.tbanner{margin:0
auto;margin-top:5px}.tbanner>.sub_tbanner{width:728px;margin:0
auto}.bg_banner{position:absolute;background-position:center top;background-repeat:no-repeat;z-index:6}.bg_banner, .bg_banner
a{width:100%}.bg_banner
a{height:100%;display:block}.cc .mc-form .mc-text-wrap .mc-textarea{font-size:27px !important;line-height:40px !important}.cc .mc-comments .mc-comment-msg{font-size:27px !important;line-height:35px !important}.smw2{width:100% !important;overflow:hidden}.sm_w2_1.sm_w2_1horizontal-three{min-width:100% !important}.postbody>div{white-space:nowrap}.postbody > div
i{display:block;white-space:normal}.postbody>div[style~="center;"]>b>a{white-space:initial}.block_news_view .postbody div > img, .block_news_view .postbody div>a>img{max-width:99%;height:auto}.block_news_view .postbody div>iframe{max-width:99%}#cse-search-results>iframe{width:100%;height:1300px}.highslide
img{border:0
none !important}.dynamic_table_v2{width:auto}.navi__v2{width:99%}.head_dTable_v2{width:90%}.gr-bn{display:table;width:100%}.gr-bn .gr-bn-cell{display:table-cell;text-align:center;vertical-align:middle}.gr-bn .gr-bn-cell .gr-bn-content{margin:0
auto}.gr-bn .gr-bn-cell .gr-bn-content
*{display:inline-block;vertical-align:middle}.gr-bn .gr-bn-cell .gr-bn-content .gr-bn-ico{background-position:center;background-size:cover}.gr-bn .gr-bn-cell .gr-bn-content .gr-bn-px{width:1px;height:1px}.highslide-container
div{font-family:Verdana,Helvetica;font-size:10pt}.highslide-container
table{background:none}.highslide{outline:none;text-decoration:none}.highslide
img{border:2px
solid silver}.highslide:hover
img{border-color:gray}.highslide-active-anchor
img{visibility:hidden}.highslide-gallery .highslide-active-anchor
img{border-color:black;visibility:visible;cursor:default}.highslide-image{border-width:2px;border-style:solid;border-color:white;background:gray}.highslide-wrapper,.highslide-outline{background:white}.glossy-dark{background:#111}.highslide-number{font-weight:bold;color:gray;font-size: .9em}.highslide-caption{display:none;font-size:1em;padding:5px}.highslide-heading{display:none;font-weight:bold;margin:0.4em}.highslide-dimming{position:absolute;background:black}a.highslide-full-expand{background:url(/libs/highslide/graphics/fullexpand.gif) no-repeat;display:block;margin:0
10px 10px 0;width:34px;height:34px}.highslide-loading{display:block;color:black;font-size:9px;font-weight:bold;text-transform:uppercase;text-decoration:none;padding:3px;border:1px
solid white;background-color:white;padding-left:22px;background-image:url(/libs/highslide/graphics/loader.white.gif);background-repeat:no-repeat;background-position:3px 1px}a.highslide-credits,
a.highslide-credits
i{padding:2px;color:silver;text-decoration:none;font-size:10px}a.highslide-credits:hover,
a.highslide-credits:hover
i{color:white;background-color:gray}.highslide-move, .highslide-move
*{cursor:move}.highslide-viewport{display:none;visibility:hidden;position:fixed;width:100%;height:100%;z-index:1;background:none;left:0;top:0}.highslide-overlay{display:none}.hidden-container{display:none}.closebutton{position:relative;top:-15px;left:15px;width:30px;height:30px;cursor:pointer;background:url(/libs/highslide/graphics/close.png)}

#aroundPage {
    width: 100%;
    height: 250px;
    background-position: center top;
    background-repeat: no-repeat;
}

#aroundPage a {
    width: 100%;
    height: 100%;
    display: block;
}

#aroundPage a img {
    width: 1px;
    height: 1px;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
    font-size: 1rem;
}

.container {
    width: 900px;
    display: block;
    height: unset;
    max-height: unset;
    position: unset;
}

.container .part {
    border: 0.1rem solid orange;
    padding: 1rem;
    margin: 1rem;
}

.container .block {
    display: flex;
    flex-direction: row;
    border-bottom: 0.1rem dashed orange;
    margin-bottom: 0.5rem;
}

.container .block:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.container .left {
    flex: 1;
    padding: 0.5rem;
}

.container .main {
    flex: 4;
    padding: 0.5rem;
}

.container input {
    width: 95%;
    max-width: 640px;
    margin: 0.2rem;
}

.container textarea {
    width: 95%;
    max-width: 640px;
    margin: 0.2rem;
    height: 14rem;
}

.container .large input, .container .large div {
    font-size: 1.5rem;
}

.container .preview {
    width: 95%;
    max-width: 640px;
    height: 12rem;
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0.5rem;
    border: 0.1rem dotted orange;
    white-space: nowrap;
}

.container .preview img {
    height: 10rem;
    padding-right: 0.5rem;
}

.container .left .add * {
    font-size: 0.5rem;
}

.container .delete {
    color: red;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.container .flowingmenu {
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    width: 20%;
    border: 0.1rem solid orange;
    z-index: 10000000;
    background: white;
}

.container .flowingmenu button {
    margin: 0.1rem;
    width: calc(25% - 0.45rem);
}

.container .flowingmenu input {
    margin: 0.1rem;
    width: calc(100% - 0.45rem);
}

.container #pb-container {
    height: 1.5rem;
    width: 100%;
    border: 0.01rem solid orange;
}

.container #pb {
    height: 1.5rem;
    background-color: orange;
    width: 0%;
}

.container nav {
    margin-bottom: 100px;
}

@media (max-device-width: 800px) {

    .container {
        width: 100vw;
    }

    .container .block {
        flex-direction: column;
    }

    .container .left, .container .main {
        flex: 1;
    }

    .container input, .container textarea, .container .preview, .container .flowingmenu {
        width: 100%;
    }

    .container .flowingmenu {
        bottom: 2rem;
        right: 1rem;
        width: calc(100% - 2rem);
    }
}