RewriteEngine On
RewriteRule ^$ /controllers/getPosts.php
RewriteRule ^contents_([^_]+)_(\d+).html$ /controllers/getPostsByCategory.php?category=$1&page=$2
RewriteRule ^([a-zA-Z0-9а-яА-ЯёЁ_]+)/([a-zA-Z0-9а-яА-ЯёЁ_]+)$ /controllers/getPostsByTag.php?category=$1&tag=$2