RewriteEngine On
RewriteRule ^$ /controllers/getPosts.php
RewriteRule ^contents_([^_]+)_(\d+).html$ /controllers/getPostsByCategory.php?category=$1&page=$2
RewriteRule ^([^/]+)/([^.]+)$ /controllers/getPostsByTag.php?category=$1&tag=$2
RewriteRule ^post_(\d+).html$ /controllers/getPost.php?id=$1
RewriteRule ^login.html$ /controllers/getLoginPage.php
RewriteRule ^logout.html$ /controllers/Logout.php